@font-face {
  font-family: josefin;
  src: url(fonts/JosefinSans-Thin.ttf);
}
@font-face {
  font-family: josefinBold;
  src: url(fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: josefinRegular;
  src: url(fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: 'Ubuntu';
}

*{
     font-family: josefin;
}


html, body {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    padding-bottom:20px;
}

body{
     background-image: url("images/bg.jpg");
     overflow: hidden;
}

#header {
    border-bottom: 1px solid #ffffff;
    height: 110px;
}


.bug-header{
    width: 150px;
    height: 150px;
    margin-top: -0px;
    margin-left: 50px;
    border-radius: 50px;
    transform: rotate(10deg);

}

.main-title{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    margin-top: 40px;
    font-size: 50px;
}

.menu-button{
    border: 3px solid #ffffff;
    font-size:20px;
    border-radius: 5px;
    padding: 10px;
    margin-left: -15px;
    margin-bottom: 10px;
    width:90px;
    text-align:center;
    transition: width 0.5s;
}

.menu-button:hover{
    width:95px;
    transition: width 0.5s;
}
#nav {

    width: 100px;
    float: left;
    height: 100%;
    padding: 5px;
    margin-top: 10%;
    color: #ffffff;
}


.bug-descr, .bug-title{
font-family: josefinRegular!important;
font-size:16px!important;
}


.notification{  

    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: -70px;
    left: 70% !important;
    min-width:300px;
    width: 30%!important;
    height: 30px;
    padding: 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    opacity: 0;
    z-index:999999!important;
    transition: all 0.5s;
}
.notif-msg{
    top: 5px!important;
    position: absolute;
    font-family: josefinBold!important;
    font-size:16px!important;
}

.warning-alert{
    color: #9F6000;
    background-color: #FEEFB3;
    opacity: 1;
    top: 0px;
    border-color: #fcf8e3;
    transition: all 0.5s;
}

.error-alert{
    opacity: 1;
    top: 0px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    transition: all 0.5s;

}
.success-alert{
    opacity: 1;
    top: 0px;
    font-family: josefinBold!important;
    font-size:15px!important;
    background-color: #faebcc;
    border-color: #fcf8e3;
    transition: all 0.5s;
}

#section {
    width: 85%;
    height: 100%;
    margin-left: 220px;
    padding-top: 30px;
    height: inherit;

}

.progress-stack{
    width: 48%; height: 40%;
    border: 3px solid #ffffff;
    float: left;
    margin:5px;
    border-radius: 10px;
    overflow: hidden

}

.progress-stack-header{
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #ffffff;
  
}

.progress-stack-title{
    font-family: josefinBold;
    margin-left:5px;
    color: #404040;
    position:relative
}


.desc-img{
    width:40px;
    height:40px;
}

.desc-img.pending{

    background-color:#ffe066;
    border-radius: 50%;
    text-align: center;
    display:inline-flex;
}

.dot{
    margin-top: -73px;
    font-size: 100px;
    margin-left: -3px;
    color: #ffffff;
}

.progress-list{
    height: 83%!important;
    width: 100%!important;
    overflow: hidden!important;
}

.progress-stack .progress-list ul{
    padding: 0px 20px 0px 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x:hidden;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;

}


.item-li{
    list-style: none;
    font-size:  18px;
    display: inline-flex;
    line-height: 50px;
    border-bottom:1px solid #ffffff;
    width: 105%!important;
    font-family: josefinBold;
    margin-top:2px;


}

.item-li:after {clear: both; }

.item-li.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.item-li.ng-enter.ng-enter-active, .clone{
  opacity:1;
}

.clone{
    border:none!important;
    padding-left: 10px;
    background-color: rgba(0, 0,0, 0.4);
    list-style: none;
    font-size:  18px;
    display: inline-flex;
    line-height: 50px;
    border-bottom:1px solid #ffffff;
    width: 105%!important;
    font-family: josefinBold;
   margin-left:300px;

}

.icons{

    margin-left: 35%;
    margin-top: -40px;
    display:flex;
    opacity:0;
    position: absolute;
    transition: opacity 0.5s;

}

.bug-item:hover >.icons{
    display: flex;
    opacity:0.7;
  
}
.icon-bug{
    opacity:0.8;
     transition: all .2s ease-in-out;
}
.icon-bug:hover{
    opacity:1;
    transform: scale(1.1);
}

.view-bug{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("images/quicklook.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.delete-bug{
    width: 20px;
    height: 20px;
    background-image: url("images/delete.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.edit-bug{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("images/edit.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.item-li{  
    background-color: rgba(0, 0,0, 0.4);
    color: #ffffff;
}


.bug-item{
    display: inline-flex;
    padding-left: 5px;
    width:100%;
}

[ng-drag].dragging {
    opacity: 0;
}
.progress-list [ng-drop].drag-enter {
    border:groove 2px #e5e600;
    border-radius: 3px ;
}

.slideUp .modal .modal-dialog .modal-content{
    margin-top: -32px;
}

.modal{
    overflow-y:hidden 
}






